// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

.poppins {
  font-family: 'Poppins', sans-serif !important;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600 !important;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}

.poppins-semi-bold {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300 !important;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #211f20;
}

.text-brand {
  color: #00aa6c !important;
}

.bg-brand {
  background: #00aa6c !important;
}

.transparent {
  background-color: transparent !important;
}
